* {
    box-sizing: border-box;
    margin: 0;

}

body {
    background-color: rgba(0, 0, 0, 0.858);

}


.loading {

    justify-content: center;
    margin: 200px auto;
    display: flex;
}

.loading div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    animation: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loading .second {
    animation-delay: 0.3s;
}

.loading .third {
    animation-delay: 0.6s;
}

@keyframes up-and-down {
    to {
        transform: translateY(-20px);
    }
}

.Changing {

    justify-content: center;
    margin: 200px auto;
    display: flex;
}

.Changing div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(200, 0, 255);
    border-radius: 50%;
    animation: ChangeColor;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Changing .two {
    animation-delay: 0.3s;
}

.Changing .three {
    animation-delay: 0.6s;
}

@keyframes ChangeColor {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}